.stats-table {
    border-collapse: collapse;
    text-align: center;
    width: 100%;
    text-align: left;

    thead { 
        background-color: white;
        color: black;
        border: 1px solid white;

        tr {
            th {
                padding: .5rem 1rem;
                border-left: 1px solid black;
                font-size: 1rem;

                &:first-child {
                    
                        border-left-color: white;
                    
                }
            }
        }
    }

    tbody {
        border: 1px solid white;
        color: white;

        tr {
            border-top: 1px solid white;
            td {
                font-size: 1rem;
                border-left: 1px solid white;
            }
        }
    }
  }

.td-author {
    width: 20%;
}

.td-info {
    width: 50%;
}

.td-image {
    width: 30%;
    .bg-image {
        height: 200px;
        width: 100%;
        background-size: contain;
        background-position: center center;
        background-repeat: no-repeat;
    }

}

.td-author, .td-info, .td-image {
    padding: 0 1.5rem;
}